@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


html,
body,
#map{
    height: 100%;
}

html{
    scroll-behavior: smooth;
    direction: rtl;
}

body{
    background-color: #373737;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    display: none !important;
    width: 0 !important;
    background: transparent !important;
}


*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

a{
    color: white;
}

html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
.zoom-rose-bold{
    width: 25% !important;
    font-weight: 600;
    font-size: 18px;
    padding: 5px;
    color: #ffffff;
    background: #f07f799e;
}


@media (max-width: 992px){
    .zoom-rose-bold.flexible{
        background-color: unset;
    }
}

@media (max-width: 576px){
    .zoom-rose-bold{
        font-size: unset;
    }
}

.w-30{
    width: 30% !important;
}

@media(max-width: 992px){
    .flexible{
        width: 90% !important;
        /* color: #f07f79; */
        align-self: center !important;
    }
}

/* #unique-warning-container .warning-firefox {
    background-color: #f07f79;
    color: #333;
    padding: 15px;
    border-radius: 5px;
    margin: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
#unique-warning-container .warning button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
    font-family: Arial, sans-serif;
}
#unique-warning-container .warning button:hover {
    background-color: #555;
}

.dismiss-warning{
    margin-top: 10px;
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
} */

#eighteen-two,
#four,
#six,
#thirtyone,
#thirtytwo,
#thirtythree{
    text-align: center;
}

@media(max-width: 772px){
    .flexible{
        flex-wrap: wrap;
    }
}

.black{
    color: black !important;
}

.highlighted{
    background-color: #FFDAD7;
    color: #006579;
}

.hidden-content{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s;
}


@media(max-width: 576px){
    .sm-flex-center{
        justify-content: center;
    }
}


.top{
    top: 5%;
}

.top-20{
    top: 20%;
}



.left{
    left: 5%;
}

.bottom{
    bottom: 10%;
}


.semi-bold{
    font-weight: 600;
    font-size: 28px;
}

@media (max-width: 578px){
    .semi-bold{
        font-size: 18px;
    }
}

.font-s-24{
    font-size: 24px;
}

@media (max-width: 992px){
    .font-s-24{
        font-size: 18px;
    }
}

.font-s-18{
    font-size: 18px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}


.width-moderate{
    width: 400px;
}

.height-moderate{
    height: 400px;
    object-fit: contain;
}


#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#content {
    position: relative;
    z-index: 2;
    height: 100vh;
}

#unlockScrollButton,
#scrollDown{
    cursor: pointer;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #373737;
    z-index: 9999;
    transition: 1s ease-in-out;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #373737;
    border-top: 5px solid #006579;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

#loading-screen p {
    margin-top: 10px;
    font-size: 18px;
    color: #006579;
    text-align: center;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.content-container {
    padding: 5px 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.content-container.single{
    margin-top: 200px;
    padding-right: 20px;
    align-items: start;
}

.single .content-child.left{
    width: 30%;
    left: 0;
}




@media(max-width: 992px){
    .white-zoom p{
        color: white !important;
    }
}

.content-container.left {
    font-size: 24px;
    margin-right: 500px;
    justify-content: end;
}

@media (max-width: 578px){
    .content-container.left{
        margin-right: unset;
    }
}

.content-container.right,
.content-container.right-left {
    font-size: 24px;
    margin-right: 50px;
    justify-content: start;
}


@media (max-width: 992px){
    .content-container.right,
    .content-container.right-left {
        margin-right: 10px;
    }
}


.content-container.bottom{
    align-items: end;
}

.content-child{
    width: 50%;
    font-size: 24px;
    font-weight: 300;
}

.content-child-30{
    width: 30%;
    font-size: 20px;
    font-weight: 300;
}

@media(max-width: 576px){
    .content-child,
    .content-child-30{
        font-size: 16px;
    }
}

.content-container.bottom .content-child{
    margin-bottom: 50px;
}

.content-container.right-left {
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 992px){
    .content-container.right-left {
        padding: 20px 0;
        justify-content: space-between;
    }
}


.content-child.image-with-caption{
    display: flex;
    align-items: end;
}

@media (max-width: 576px){
    .content-child.image-with-caption{
        justify-content: center;
    }
}

.quote-general{
    position: absolute;
    font-size: 24px;
    font-weight: 600;
    color:#006579;
}

@media (max-width: 578px){
    .quote-general{
        width: 75%;
        font-size: 16px;
    } 
}

.quote-general::after{
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 35px;
    background: #FFDAD7;    
    z-index: -1;
}

@media (max-width: 576px){
    .quote-general::after{
        height: 41px;
    }
}

.quote-general::before{
    content: "\201F";
    position: absolute;
    font-size: 200px;
    color: #FFDAD7;
    font-family: "Inter";
    left: -20%;
    bottom: 0;
}

@media (max-width: 576px){
    .quote-general::before{
        font-size: 100px;
        bottom: 44%;
    }
}

.quote-general .source{
    font-weight: 300;
    font-size: 12px;
    float: right;
}

.content-child.image-with-caption.quote{
    background-color: white;
    height: 290px;
    position: relative;
}

@media (max-width: 992px){
    .content-child.image-with-caption.quote{
        transform: translateY(-100px);
        background-color: unset;
    }
}

.content-child.image-with-caption.quote::after{
    content: "\201F";
    position: absolute;
    font-size: 200px;
    color: #FFDAD7;
    font-family: "Inter";
    left: -20%;
    top: -50%;
}

@media (max-width: 576px){
    .content-child.image-with-caption.quote::after{
        content: "";
    }
}

.content-child.image-with-caption img{
    height: 350px;
}

@media (max-width: 576px){
    .content-child.image-with-caption img{
        height: unset;
    }
}

.content-child.image-with-caption .text{
    display: flex;
    flex-direction: column;
    color: #006579;
    align-self: start;
    margin-top: 125px;
}

.content-child.image-with-caption .title{
    font-size: 40px;
    font-weight: 700;
    line-height: 53px;
}

@media (max-width: 992px){
    .content-child.image-with-caption .title{
        font-size: 20px;
    }
}

@media (max-width: 576px){
    .content-child.image-with-caption .title{
        font-size: 16px;
        position: absolute;
        top: 10%;
        right: -32%;
        color: white;
    }
}


.content-child.image-with-caption blockquote{
    position: absolute;
    background-color: #FFDAD7;
    padding: 10px;
    margin: 0;
    font-size: 32px;
    line-height: 53px;
    font-weight: bold;
    bottom: -63%;
    width: 89%;
    right: 14%;
}

@media (max-width: 992px){
    .content-child.image-with-caption blockquote{
        font-size: 24px;
        line-height: inherit;
    }
}

@media (max-width: 576px){
    .content-child.image-with-caption blockquote{
        font-size: 16px;
        bottom: 0;
        width: 173%;
        right: -13%;
        transform: translate(13%, 67%);
    }
}

.content-child.image-with-caption blockquote span{
    font-size: 24px;
    line-height: 53px;
    font-weight: 300;
}

@media (max-width: 576px){
    .content-child.image-with-caption blockquote span{
        font-size: 14px;
    }
}

.image-with-caption .caption{
    background: white;
    color: #006579;
    padding: 20px;
    font-weight: 450;
}

.graphics{
    position: relative;
}

.graphics .content-child{
    width: 100%;
    height: 100%;
    transform: unset !important;
}

.graphics img,
.graphics .text-graphics,
.graphics video{
    position: absolute;
    max-width: 100%;
}

video{
    outline: none;
    border: none;
    top: 50% !important;
    height: 80%;
    object-fit: cover;
}

/* WebKit-based browsers (Chrome, Safari, Edge) */
video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
}

video::-webkit-media-controls-panel {
    display: none !important;
}

video::-webkit-media-controls-start-playback-button {
    display: none !important;
}

video::-webkit-media-controls-play-button {
    display: none !important;
}

video::-webkit-media-controls-mute-button {
    display: none !important;
}

video::-webkit-media-controls-timeline {
    display: none !important;
}

video::-webkit-media-controls-volume-slider {
    display: none !important;
}

video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

/* Firefox */
video::-moz-media-controls {
    display: none !important;
}

video::-moz-media-controls-enclosure {
    display: none !important;
}

video::-moz-media-controls-panel {
    display: none !important;
}

video::-moz-media-controls-start-playback-button {
    display: none !important;
}

video::-moz-media-controls-play-button {
    display: none !important;
}

video::-moz-media-controls-mute-button {
    display: none !important;
}

video::-moz-media-controls-timeline {
    display: none !important;
}

video::-moz-media-controls-volume-slider {
    display: none !important;
}

video::-moz-media-controls-fullscreen-button {
    display: none !important;
}

/* General rule to hide controls in other browsers */
video::-ms-media-controls {
    display: none !important;
}

@media (max-width: 576px){
    video{
        height: 60% !important;
        width: 75% !important;
    }
}

.object-contain{
    object-fit: contain;
}

.h-25{ /* Unresponsive */
    height: 250px;
}

.h-40{ /* Unresponsive */
    height: 400px;
}


.z-background{
    z-index: 0;
}

.z-normal{
    z-index: 1;
}

.z-top{
    z-index: 100;
}

.graphics .center{
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 576px){
    .graphics .center{
        top: unset;
        bottom: 0;
    }

    /* Exception */
    #thirtytwo .text-graphics{ 
        top: 50% !important;
    }
}



.graphics .center-h{
    width: 40%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.graphics .center-h-error{
    width: 40%;
    top: 20%;
    right: 0;
    transform: translate(-50%, -20%);
}

@media (min-width: 992px){
    .center-h-error{
        right: unset;
        left: 50%;
    }

    .center-h,
    .center-h-error{
        height: 400px !important;
        width: 50% !important;
    }
}

@media (max-width: 576px){
    .graphics .center-h-error{
        transform: translate(-35%, -20%);
        scale: 2;
    }
}

.daniel-video{
    top: 20% !important;
    height: 90% !important;
    object-fit: contain;
}

@media (max-width: 772px){
    .daniel-video{
        object-fit: cover;
        width: 80% !important;
    }
}

@media (max-width: 576px){
    .daniel-video{
        top: 30% !important;
        height: 40% !important;
        width: 80% !important;
    }
}

.graphics .center-top,
.graphics .center-top-text{
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

@media (max-width: 992px){
    .graphics .center-top{
        top: 0;
        left: 20%;
        transform: translate(-7%, 0);
        width: 72% !important;
    }
}

@media (max-width: 992px){
    .graphics .center-top-text{
        left: 26%;
        transform: translate(-36%, 0);
        width: 59% !important;
    }
}

.graphics .center-bottom{
    bottom: 28%;
    left: 50%;
    transform: translate(-50%, 30%);
}

.graphics .center-bottom-bottom{
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 30%);
}

@media (max-width: 992px){
    .graphics .center-bottom-bottom{
        object-fit: contain;
    }
}

.graphics .top-right{
    top: 5%;
    right: 5%;
}

.graphics .top-left{
    top: 10%;
    left: 5%;
}

@media (max-width: 992px){
    .graphics .top-left{
        top: 8px;
    }
}


.graphics .top-center{
    top: 15%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -20%);
    font-size: 25px;
    font-weight: bold;
}

.graphics .top-moderate-center{
    top: 20%;
    width: 60%;
    font-size: 25px;
    font-weight: bold;
    right: 50%;
    transform: translate(50%, -33%);
}

.graphics .bottom-left{
    bottom: 10%;
    left: 5%;
    width: 30%;
}

@media (max-width: 578px){
    .graphics .bottom-left{
        width: 90%;
    }
}

.graphics .center-left{
    top: 50%;
    left: 5%;
}

@media (max-width: 576px){
    .graphics .center-left{
        width: fit-content !important;
    }
}

.graphics .media-center-left{
    bottom: 10%;
    left: 20%;
    width: 30%; /* Unresponsive */
}

@media (max-width: 578px){
    .graphics .media-center-left{
        width: 90%;
    }
}

.graphics .center-right{
    top: 50%;
    right: 10%;
    height: 500px;
    width: 30%;
}

@media (max-width: 578px){
    .graphics .center-right{
        width: 90%;
        top: 10%;
    }
}

.graphics .center-right-image{
    top: 15%;
    right: 15%;
    height: 500px;
    width: 30%;
}

.graphics .center-right-text{
    top: 50%; 
    right: 15%;
    width: 30%;
}

@media (max-width: 578px){
    .graphics .center-right-text{
        width: 90%;
    }
}

.graphics .center-left-image{
    top: 15%;
    left: 15%;
    height: 500px;
    width: 30%;
}

@media (max-width: 992px){
    .graphics .center-left-image{
        width: 60%;
    }
}

.graphics .bottom-left-left{
    bottom: 3%;
    left: 2%;
    width: 30%; /* Unresponsive Value */
}

@media (max-width: 992px){
    .graphics .bottom-left-left{
        width: 90%;
        bottom: 50%;
    }
}

@media (max-width: 992px){
    #ten-two .text-graphics,
    #ten-three .text-graphics,
    #ten-four .text-graphics{
        text-align: center;
    }
}



.graphics .bottom-right{
    bottom: 12%;
    right: 18%;
}

.arrow-top-left{
    left: 110%;
    top: 50%;
}

@media (max-width: 772px){
    .arrow-top-left{
        display: none;
    }
}


.arrow-bottom-left{
    left: 50%;
    bottom: 110%;
}

.arrow-bottom-right{
    right: 32%;
    bottom: 120%;
}

@media(max-width: 992px){
    .arrow-bottom-left,
    .arrow-bottom-right{
        display: none;
    }
}


.arrow-bottom-center-left{
    top: -120px;
    left: 41%;
}

@media(max-width: 992px){
    .arrow-bottom-center-left{
        display: none;
    }
}

.arrow-left-center{
    top: -83px;
    left: 68%;
    max-width: unset !important;
    width: 200%;
}

@media (max-width: 772px){
    .arrow-left-center{
        display: none;
    }
}




/* Top */
.content-container.bottom-top .content-child:first-of-type{ 
    align-self: end;
    width: 35%;
}

.content-container.bottom-top .content-child:last-of-type{ 
    align-self: start;
}


.warning{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 89%);
    z-index: 3;
    color: #FFDAD7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

.warning * {
    margin-top: 50px;
}

.warning a{
    text-decoration: none;
    color: #FFDAD7;
    border-radius: 40px;
    border: 2px solid #FFDAD7;
    padding: 10px 40px 14px 40px;
}

#zero{
    font-size: 32px;
    text-align: center;
}

#zero p,
#one p{
    text-shadow: -2px 4px 9px rgba(0,0,0,0.6);
}

#thirtyone .text-graphics{
    margin-top: 25px;
}

#thirtyone .graphics .center-bottom-bottom{
    bottom: 20%;
}

.scroll-down{
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -25%) !important;
    width: 100%;
}

.scroll-down a{
    position: relative;
    background-color: #FFDAD7;
    text-decoration: none;
    color: black;
    padding: 20px;
    border-radius: 10px;
    line-height: 33%;
    border: 3px solid black;
}


.scroll-down a::after{
    content: '';
    background: url("/assets/scroll.svg") no-repeat;
    position: absolute;
    bottom: -25%;
    left: 50%;
    height: 100%;
    background-size: 59px;
    width: 50%;
    transform: translate(-39%, 33%);
}

/* .refugee-camp-circle{
    position: absolute;
    top: 27%;
    right: 72.7%;
} */


.bomb-circle{
    position: absolute;
    right: 30%;
    top: 22%;
}

.bomb-circle-arrow{
    position: absolute;
    right: 50%;
    top: 15%;
}


.bomb-destroyed-circle{
    right: 68%;
    top: 32%;
}

.bomb-destroyed-circle-arrow{
    top: 30%;
    left: -3%;
}


.rectangle{
    top: 35%;
    left: 27%;
}


.rectangle-arrow{
    top: 20%;
    left: 35%;
}

.highlighted-2-lines-font-normal{
    position: relative;
    color: #006579;
}

.highlighted-2-lines-font-normal::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
    background-color: #FFDAD7;
    z-index: -1;
}

.aljazera{
    width: 52% !important;
    height: 50% !important;
}

@media(max-width: 576px){
    .aljazera{
        object-fit: contain;
    }
}

.gaza-map-on-video{
    top: 25%;
    left: 24%;
    width: 80px;
}

@media (max-width: 576px){
    .gaza-map-on-video{
        top: 41%;
        width: 32px;
    }
}

.animated-image{
    object-fit: contain;
}

@media (max-width: 572px){
    .animated-image-1{
        top: 50% !important;
        width: 90% !important;
    }
}



.animated-image,
.animated-image-two,
.animated-image-three,
.animated-video,
.fixed{
    visibility: hidden;
    position: fixed !important;
    opacity: 0; 
}



#three-two .content-child,
#five .content-child,
#nineteen .content-child,
#fifteen .content-child,
#twelve .content-child,
#thirteen .content-child,
#fourteen .content-child,
#ten .content-child,
#ten-two .content-child,
#ten-three .content-child,
#ten-four .content-child,
#seven .content-child{
    opacity: 1 !important;
    transform: unset !important;
}

#thirtythree p{
    margin-top: 50px;
}

#thirtythree h2{
    margin: 20px auto;
    font-size: 20px;
    width: fit-content;
}

@media (max-width: 576px){
    .sdb{
        width: 90% !important;
        height: 50%;
    }
}
